# azure-pipelines.yml - CI for BookManager (.NET 9)
trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'
  outputDir: '$(Build.ArtifactStagingDirectory)/publish'

steps:
- task: UseDotNet@2
  displayName: 'Install .NET 9 SDK'
  inputs:
    packageType: 'sdk'
    version: '9.0.x'    # instalar .NET 9
    includePreview: true

- script: dotnet --info
  displayName: 'dotnet --info'

- script: dotnet restore
  displayName: 'Restore NuGet packages'

- script: dotnet build --configuration $(buildConfiguration) --no-restore
  displayName: 'Build solution'

- script: dotnet test --configuration $(buildConfiguration) --no-build --verbosity normal
  displayName: 'Run tests'

- script: |
    dotnet publish ./BookManager/BookManager.csproj \
      --configuration $(buildConfiguration) \
      --output $(outputDir) \
      --no-build
  displayName: 'Publish app to artifact folder'

- task: PublishPipelineArtifact@1
  inputs:
    targetPath: '$(Build.ArtifactStagingDirectory)/publish'
    artifact: 'drop'
    publishLocation: 'pipeline'
  displayName: 'Publish pipeline artifact'
